@model IEnumerable<ProjeIT.Models.Department>

@{
    ViewData["Title"] = "Department";
}

<h1>Department</h1>

<p>
    <a asp-action="CreatePage">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                 <a asp-action="Update" asp-route-id="@item.DepartmentId">Update</a>
                <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
