@model IEnumerable<ProjeIT.Models.Personnel>

@{
    ViewData["Title"] = "Index";
}

<h1>Personels</h1>

<p>
    <a class="create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="tableHeader">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastGraduation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastGraduation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                <a class="coloring" asp-action="Edit" asp-route-id="@item.PersonnelId">Edit</a> 
                <a class="coloring" asp-action="Details" asp-route-id="@item.PersonnelId">Details</a> 
                <a class="coloring" asp-action="Delete" asp-route-id="@item.PersonnelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    @* Comment goes here *@
       
 
                  
      @* Comment goes here *@

