@model IEnumerable<ProjeIT.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<p >
    <a class="create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="tableHeader">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th> Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <a class="coloring" asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                <a class="coloring" asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                <a class="coloring" asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
